.loadMoreBtn {
  display: block;
  margin: 0 auto;
  width: 200px;
  background-color: transparent;
  padding: 15px 20px;
  color: #f8f1f1;
  font-weight: 300;
  font-size: 25px;
  border: transparent;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.3) 1px 15px 20px,
    rgba(255, 255, 255, 0.3) 1px 5px 20px;

  transition: box-shadow 400ms var(--cubicBezier);
}

.loadMoreBtn:is(:hover, :focus) {
  box-shadow: rgb(250, 6, 6) 1px 15px 20px, rgba(250, 6, 6) 1px 5px 20px;
}
